@model onlinestore.Models.MessageData_Tb
@{
    Layout = null;
}
<!DOCTyPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <h2>留言詳情</h2>
    <fieldset>
        <legend>留言內容</legend>
        <div class="display-label">編號:</div>
        <div class="display-field">@(Model.No_F)</div>
        <div class="display-label">姓名:</div>
        <div class="display-field">@(Model.UserID_From_F)</div>
        <div class="display-label">信箱:</div>
        <div class="display-field">@(Model.Email_F)</div>
        <div class="display-label">留言內容:</div>
        <div class="display-field">@(Model.Content_F.ToString().Replace("\r\n","<br />\r\n"))</div>
        <div class="display-label">是否需專人聯繫:</div>
        <div class="display-field">@(Model.IsSecret_F)</div>
        <div class="display-label">留言時間:</div>
        <div class="display-field">@(String.Format("{0:g}",Model.JoinTime_F))</div>
    </fieldset>
    <p>
        @Html.ActionLink("修改內容", "Edit", new { id = Model.No_F }))|
        @Html.ActionLink("返回", "Index"))
    </p>
</body>
</html>
