@model IEnumerable<onlinestore.Models.MessageData_Tb>
@{
    Layout = null;
}
<!DOCTyPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
    </head>
    
    <body> 
        <table style="border:8px #FFD382 groove;" cellpadding="10" border='1' align="center">
            <caption >訪客留言板</caption>
            <tr>
                <th>編號</th>
                <th>姓名</th>
                <th>信箱</th>
                <th>留言內容</th>
                <th>是否需要專人聯繫:</th>
                <th>留言時間</th>
                <th>資料操作</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@(item.No_F)</th>
                    <th>@(item.UserID_From_F)</th>
                    <th>@(item.Email_F)</th>
                    <th>@(item.Content_F)</th>
                    <th>@(item.IsSecret_F)</th>
                    <th>@(String.Format("{0:g}", item.JoinTime_F))</th>
                    <td>
                        @(Html.ActionLink("編輯", "Edit", new { id = item.No_F }))|
                        @(Html.ActionLink("查看", "Details", new { id = item.No_F }))|
                        @(Html.ActionLink("刪除", "Delete", new { id = item.No_F }))
                    </td>
                </tr>
            }
        </table>
        <p>
            @(Html.ActionLink("新增留言", "Create"))
            @(Html.ActionLink("離開留言版", "Contact", "Home"))
        </p>
    </body>
</html>